body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-section {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}


/* .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: 0;
    margin-left: 0;
} */


/*=======================Header=======================*/

.navbar {
    background: #343a40;
}

.navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #f8f9fa;
}

.navbar-brand {
    font-size: 28px;
    color: #ffc800;
}

.navbar-nav {
    font-size: 18px;
    font-weight: 100;
}

.nav-item a {
    color: #f8f9fa;
}

.nav-item .team {
    color: #ffc800;
}

.nav-item a:hover {
    color: #ffc800;
}

.nav-item a {
    margin: 0 0.45rem;
}

.heading-text {
    color: #f8f9fa;
    padding-top: 20rem;
    padding-bottom: 8rem;
    width: 100%!important;
    background: url(./img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
}

.heading-text .welcome {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.heading-text .meet {
    font-size: 4rem;
    font-weight: 600;
}

.heading-text .button-primay {
    color: #f8f9fa;
    background-color: #ffc800;
    width: 12rem;
    padding: 1rem;
    font-weight: 600;
    border-radius: 8px;
}


/*===================================End Header================================*/


/*=======================================Services section=======================*/

.services-heading .heading-service {
    font-size: 3rem;
    font-weight: bold;
    color: #212529;
}

.services-heading .heading2-service {
    margin-bottom: 4rem;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: #6c757d;
}

.img-ser {
    background: #ffc800;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    padding-bottom: 3rem;
    margin: auto;
}

.img-ser h4 {
    margin-top: 1rem;
    font-size: 18px;
}

.img-ser img {
    width: 60px;
}

.text-ser {
    /*margin-top: 2rem;
        margin-right: 1rem;*/
    font-size: 14px;
}

.text-ser h4 {
    margin: 10px 0;
    font-weight: 600 !important;
}

.text-ser p {
    color: #6c757d;
    text-align: justify !important;
}

.text-ser div {
    color: #6c757d;
}

.about-para {
    font-size: 16px;
    text-align: center;
    margin: 1rem 0rem;
}

.row-about .text-ser h4 {
    font-size: 22px;
}


/*=======================================End Services section=======================*/


/*==========================Section portfolio==========================*/

.item-img-porfolio {
    width: 75%;
    object-fit: cover;
    height: 250px;
}

#portfolio {
    background-color: rgba(227, 236, 245, 0.8);
}

.porto {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    width: 75%;
    margin: 0 auto 30px;
}

.porto h4 {
    font-weight: 600 !important;
}

.porto div {
    text-align: center;
    font-style: italic;
}

.item-card-portfolio {
    display: none;
    background: rgba(255, 200, 0, 0.9);
    position: absolute;
    width: 70%;
    height: 250px;
    margin: 0 auto;
    top: 0;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.img-port:hover .item-card-portfolio {
    display: flex;
}


/*===========================end section portfolio======================*/


/*===========================About section==============*/

.text-ser .heading-about span {
    display: block;
}

.text-ser .heading-about {
    font-size: 1.2rem;
    color: #212529;
}

.about-image {
    /* max-width: 30%; */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid #b2bcc7;
    /*margin-top: 3rem;*/
}

.story {
    /*margin-top: 3rem;*/
    background: #ffc800;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    color: #f8f9fa;
    border: 8px solid #b2bcc7;
    box-sizing: border-box;
}

.item-desc {
    width: 70px;
    margin: 0 auto;
    line-height: 26px;
    margin-top: 47px
}

.item-left {
    text-align: right;
    padding-right: 2rem;
}

.item-rigth {
    text-align: left;
    padding-left: 2rem;
}


/*=========================== End About section==============*/


/*====================================Section Team===================*/

.team-img img {
    border: 8px solid #b2bcc7;
    border-radius: 100%;
    /* margin: 0 3rem; */
    margin-top: 2rem;
}

.team-para {
    font-size: 16px;
    color: #6c757d;
}

.team-media a>i {
    margin: 0 0.30rem;
    width: rem;
    color: #212529;
    font-size: 20px;
}

#team {
    background-color: rgba(227, 236, 245, 0.8);
    width: 100%;
}


/*================================End section team===================*/


/*================================reseau=======================*/

.reseau-row a {
    margin: 1rem 3rem;
}

.reseau-img {
    margin-top: 5px;
    margin-bottom: 10px;
}


/*==============================end reseau=======================*/


/*=========================Contact=====================*/

form {
    font-family: inherit;
    color: #212529;
}

input {
    border-radius: 6px;
    margin: 2rem 0;
    min-height: 100%!important;
    /* padding: 10rem; */
}

.email input {
    margin-bottom: 0!important;
}

.phone input {
    margin-bottom: 0!important;
}

.invalid-email {
    font-size: 13px;
    color: red;
    margin-top: 2px;
}

.form-control {
    width: 100%;
    display: block;
    line-height: 1rem;
    padding: 1.5rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.col-textarea .form-control {
    width: 100%;
    min-height: 15rem;
    border-radius: 8px;
}

.button-primary {
    background: #ffc800;
    color: #f8f9fa;
    margin: 0 auto!important;
    padding: 1rem;
}

#contact {
    background-image: url(./img/images.jfif);
    padding: 1rem 0;
}

#contact .heading-service {
    color: #fff;
    margin-top: 1rem;
}


/*=============================end contact====================*/


/*==================footer=======================*/

.social-icon a>i {
    font-size: 1.3rem;
    margin: 0 1rem;
}

.list-unstyled i {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    background: #000000;
    color: #ffffff !important;
}

.list-unstyled:hover {
    text-decoration: none;
}

footer .container div {
    color: #212529;
}

.deco a {
    color: #000000;
}


/*========================end footer====================*/

@media all and (min-width:300px) and (max-width:578px) {
    .heading-text .welcome {
        font-size: 1rem;
    }
    .heading-text .meet {
        font-size: 3rem;
        font-weight: 600;
    }
    .services-heading .heading-service {
        font-size: 1rem;
    }
    .services-heading .heading2-service {
        margin-bottom: 4rem;
        font-size: 13px;
        font-weight: 400;
        font-style: italic;
    }
    .img-ser h4 {
        margin-top: 1rem;
        font-size: 13px;
    }
    .text-ser {
        font-size: 15px;
    }
    .img-ser img {
        width: 50%;
    }
    .img-ser {
        background: #ffc800;
        border-radius: 100%;
        width: 120px;
        height: 120px;
        line-height: 120px;
        padding-bottom: 3rem;
        margin: auto;
    }
}


/* #portfolio {
            width: 100%;
        }
        #services {
            width: 100%;
        }
        #about {
            width: 100%;
        }
        #team {
            width: 100%;
        }
        #reseau {
            width: 100%;
        }
        footer {
            width: 100%;
        } */

.item-left,
.item-rigth {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem !important;
    margin-left: 3rem;
}

@media all and (min-width:268px) and (max-width:768px) {
    .row {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
    }
    .item-left,
    .item-rigth {
        text-align: left;
        padding-left: 1rem;
        padding-right: 0rem !important;
        /* margin-left: 3rem; */
    }
    .row-about .text-ser h4,
    .text-ser .heading-about {
        font-size: 20px;
    }
    #about .text-ser p {
        font-size: 16px;
        text-align: center;
    }
    .about-image {
        width: 130px;
        height: 130px;
    }
    .story {
        width: 130px;
        height: 130px;
    }
    .item-desc {
        margin-top: 22px;
    }
    .about-para {
        font-size: 11px;
    }
    .offset-2 {
        margin-left: 65px;
    }
    .item-container {
        width: 100% !important;
    }
    .invalid-email {
        display: none;
    }
    .text-ser div {
        font-size: 14px;
    }
    .text-ser h4 {
        font-size: 16px;
    }
    .deco a {
        margin: 0 auto;
        text-align: center;
    }
    .col-textarea {
        margin-bottom: 1rem;
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .heading-text {
        padding-top: 8rem;
        padding-bottom: 6rem;
        width: 100%!important;
        /* background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            background-position: center;
            background-position-x: center;
            background-position-y: center;
            text-align: center; */
    }
    .button-primary {
        background: #ffc800;
        color: #f8f9fa;
        padding: 1rem;
        margin: 2rem 0;
    }
    .micro a>img {
        width: 50%;
    }
}

@media all and (min-width:768px) and (max-width:992px) {
    .item-left,
    .item-rigth {
        text-align: left;
        padding-left: 1rem;
        padding-right: 0rem !important;
    }
    .row-about .text-ser h4,
    .text-ser .heading-about {
        font-size: 15px;
    }
    .about-image {
        width: 130px;
        height: 130px;
    }
    .story {
        width: 130px;
        height: 130px;
    }
    .item-desc {
        margin-top: 22px;
    }
    .about-para {
        font-size: 11px;
    }
    .offset-2 {
        margin-left: 90px !important;
    }
    .item-container {
        width: 96% !important;
    }
}

@media all and (min-width:578px) and (max-width:992px) {
    .heading-text .welcome {
        font-size: 2rem;
    }
    .heading-text .meet {
        font-size: 4rem;
        font-weight: 600;
    }
    .services-heading .heading-service {
        font-size: 3rem;
    }
    .services-heading .heading2-service {
        margin-bottom: 4rem;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
    }
    /* .text-ser {
            /*margin-top: 3rem;
            margin-right: 1rem;*/
    /* font-size: 1rem; */
    .img-ser img {
        width: 50%;
    }
    .img-ser {
        background: #ffc800;
        border-radius: 100%;
        width: 120px;
        height: 120px;
        line-height: 120px;
        padding-bottom: 3rem;
        margin: auto;
    }
}